<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
       Tienes Dudas o Comentarios Comunicate Con Nosotros, Si tienes problemas
       Con la Verificacion Contactanos para aclarar culquier duda.

       Las variaciones en los subsidios dependen del sistema, y la validacion
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Obten Informacion</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Contactanos</a>
            </li>
            <li>
              <a href="#!" class="text-white">Acerca <Del></Del></a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Informacion</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Estadisticas</a>
            </li>
            <li>
              <a href="#!" class="text-white">Encuestas</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Ayuda</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">¿Necitas ayuda?</a>
            </li>
            <li>
              <a href="#!" class="text-white">Problemas con Subsidios</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Comprueba</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Verificar si Aplico</a>
            </li>
            <li>
              <a href="#!" class="text-white">Iniciar Sesion</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright: HDP Project
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->